<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Photo Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photo Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let photo of photos; index as position" size="6">
          <ion-img src="{{ photo.webviewPath }}"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab horizontal="center" slot="fixed" vertical="bottom">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
