<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab horizontal="center" slot="fixed" vertical="bottom">
    <ion-fab-button (click)="showKeyboard()">
      <ion-icon name="keyboard"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-explore-container name="Armut dalda"></app-explore-container>
</ion-content>
